$whiteColor: #fff;
$orangeColor: #f36633;
$yellowColor: #fda500;
$greenColor: #46a700;
$pinkColor: #f04771;
$redColor: #c10000;
$blackColor: #544f40;
$grayColor: #999;
$tableBorder: #eae8e6;
$bgGray: #efefed;
$checkBorder: #d5d1ce;
$blueColor: #15717d;